<div id="cpmu">
  <header>
    <h1>Complaints per million units</h1>
  </header>
  <main>
    <div class="aggregation">
      <p>
        <h1>Aggregation:</h1>
        <br />
        <input
          type="radio"
          name="aggregation"
          value="month"
          ng-model="ctrl.aggregationType"
          ng-change="ctrl.getData()"
        /> By month
        <input
          type="radio"
          name="aggregation"
          value="quarter"
          ng-model="ctrl.aggregationType"
          ng-change="ctrl.getData()"
        /> By quarter
      </p>
    </div>
    <table>
      <thead>
        <tr>
          <th>{{ctrl.aggregationLabel}}</th>
          <th>CPMU</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.cpmuData">
          <td ng-if="!item.month">
            {{'Q' + item.quarter + ' ' + item.year}}
          </td>
          <td ng-if="item.month">
            {{item.month | date : "yyyy-MM"}}
          </td>
          <td>{{(item.cpmu | number : 4) || 'No value'}}</td>
        </tr>
      </tbody>
    </table>
  </main>
</div>